<div class="dashboard">
    <h2>Welcome back, </h2>
    <div class="tabs container my-5">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center flex-column align-items-center mb-4">
                <button class="nav-btns">
                    <h4 class="mb-1">View Currency</h4>
                    <fa-icon size="3x" [icon]="faCoins"></fa-icon>
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center flex-column align-items-center mb-4">
                <button class="nav-btns">
                    <h4 class="mb-1">View Transactions</h4>
                    <fa-icon size="3x" [icon]="faHandHoldingDollar"></fa-icon>
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center flex-column align-items-center mb-4">
                <button class="nav-btns">
                    <h4 class="mb-1">View Wallet</h4>
                    <fa-icon size="3x" [icon]="faWallet"></fa-icon>
                </button>
            </div>
        </div>
    </div>
    <table class="currency-table table my-6">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Base Currency</th>
            <th scope="col">Exchange Currency</th>
            <th scope="col">Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">#</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">#</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">#</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
</div>
