<H1>Login!</H1>

<div class="container">
    <div class="alert alert-warning" *ngIf="invalidLogin">{{errorMessage}}</div>
    <div>
        User Name : <input type="text" name="username" [(ngModel)]="username">
        Password : <input type="password" name="password" [(ngModel)]="password">
        <button (click)=handleLogin() class="btn btn-success"> Login </button>


        <p style="line-height:16px">
            Please click to <a routerLink="/register">Register</a> your username!
        </p>
        
    </div>
</div>